<%- include('../layouts/header', {title: 'ToDo-List'}) %>
<%- include('../layouts/menu')%>


  <section class="section hero is-link is-fullheight-with-navbar">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">ToDo-list</h1>
        <h2 class="subtitle">
          Gerenciando suas atividades diárias
        </h2>
        <a href="/checklists" class="button is-light is-medium">
          Ir para listas de atividades
        </a>
      </div>
    </div>
  </section>
<%- include('../layouts/footer')%>