<nav class="navbar is-black">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      ToDo-list
    </a>
    <div class="navbar-burger birger" data-target='navMenuColorblack-example'>
       <span></span>
       <span></span>
       <span></span> 
    </div>
  </div>
</nav>